@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

h1,h2,h3,h4,h5,h6,p,a,input,text,select,label,li,button,th,td{
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 500 !important;
}

html, body {
  scroll-behavior: smooth;
  background: #ededed !important;
}
*,*::before,*::after {
  box-sizing: inherit;
}

/* body::after {
    content: "";
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
} */

.bounce-enter-active {
  animation: bounce-in .5s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.br-footer {
  background: #121921;
}

.br-banner{
    background-image: linear-gradient(to right,#bf040f ,#ff6c3f) !important;
    box-shadow: none !important;
    position: relative;
}

.br-banner-title{
  font-family: 'Dosis', sans-serif;
  font-size: 48pt;
}

.br-heading{
  font-family: 'Dosis', sans-serif;
}

.br-parallax img{
  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative !important;
}

.br-navbar{
  z-index:1;
}

.br-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:100;
  margin-bottom: 40px !important;
}
.br-label {
  font-size: 12pt !important;
  font-weight: 500;
}

.br-footer {
  background: #121921;
}

.br-plans{
  border: 1px solid #ededed;
  box-shadow: 0 0 2px 2px #ededed !important;
}

.br-active a {
  border:2px solid #fff;
  color: #fff !important;
  font-weight: 1000 !important;
  padding: 2%;
  border-radius: 100px;
}

.br-light a {
  color: #fff !important;
  font-weight: 1000 !important;
}

.hidden {
  display: none;
}

.overlay{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    background: rgb(255,255,255);
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #bf040f;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
/* 
Animate 
*/
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
/* 
UI KIT Overrides
*/
.uk-tab > li > a {
  font-size: 12pt !important;
}
.uk-table th, .uk-table td {
  font-size: 12pt !important;
  text-transform: none !important;
}
.uk-button-red {
  background-image: linear-gradient(to right,#bf040f ,#e95905) !important;
  color: #fff !important;
}
.uk-navbar, .uk-navbar-dropdown {
  background-color:#bf040f !important;
}

.uk-navbar li {
  margin: 5px;
}

.uk-navbar-nav > li > a {
  color: #fff;
}

.uk-navbar li a {
    height: 40px !important; 
    border-radius: 100px;
    color: #fff;
}

.uk-navbar li:hover {
  border:1px solid #fff;
  border-radius: 100px;  
}

.uk-card-alerts {
  background: #2d2d2d !important;
  color: #fff !important;
}
.uk-card-no-shadow {
  box-shadow: none !important;
}
.uk-card-red {
  background-image: linear-gradient(to right,rgb(191, 4, 15) ,#e95905) !important;
  border-radius: 5px !important;
  color: #fff !important;
}
.uk-card-success{
  background-color:	#32CD32 !important;
  border-radius: 5px !important;
}
.uk-overlay-default{
  background: rgba(0, 0, 0, 0.7)!important;
  color: #fff;
}

/* 
Vue Slides Override
*/

.vueperslide__content-wrapper{
  background: #1d1d1d !important;
  opacity: .9;
}
.vueperslide__title {
  color: #fff;
  font-size: 150%;
}
